@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500;700&family=DM+Mono:wght@400;500&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-bg: #090909;
  --color-s1: #101010;
  --color-s2: #161616;
  --color-s3: #1e1e1e;
  --color-border: #1f1f1f;
  --color-border2: #2c2c2c;
  --color-ink: #eeebe3;
  --color-mid: #7a7a72;
  --color-muted: #4a4a45;
  --color-accent: #c8f135;
  --color-accent2: #99c010;
  --font-display: 'Bebas Neue', sans-serif;
  --font-body: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-ink);
    font-family: var(--font-body);
  }
}